.global-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-container {
  text-align: center;
}

.loader-spinner {
  display: flex;
  justify-content: center;
}

.loader-text {
  font-weight: 500;
  color: #0d6efd;
  margin-top: 10px;
}
